<% @places.each do |place| %>

  <div class="Shadow-box col-10 offset-1">
    <h2><%= link_to place.name, place_path(place) %></h2>
    <i><%= place.address %></i><br /><br />
    <p><%= place.description %></p>

    <% if place.user.present? %>
      <small>Added By - <i><%= place.user.email %></i></small>
    <% end %>
  </div>

<% end %>
<div class="Shadow-box col-10 offset-1">
  <%= will_paginate @places, class: 'pagination justify-content-end' %>
</div>